In [335]:
# Importing the required libraries

In [336]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.preprocessing import MinMaxScaler

In [337]:
## Getting the Data
url = 'https://archive.ics.uci.edu/ml/machine-learning-databases/00374/energydata_complete.csv'

In [338]:
df = pd.read_csv(url)

In [339]:
df.head(4)

,date,Appliances,lights,T1,RH_1,T2,RH_2,T3,RH_3,T4,...,T9,RH_9,T_out,Press_mm_hg,RH_out,Windspeed,Visibility,Tdewpoint,rv1,rv2
0,2016-01-11 17:00:00,60,30,19.89,47.596667,19.2,44.790000,19.79,44.730000,19.000000,...,17.033333,45.53,6.600000,733.5,92.0,7.000000,63.000000,5.3,13.275433,13.275433
1,2016-01-11 17:10:00,60,30,19.89,46.693333,19.2,44.722500,19.79,44.790000,19.000000,...,17.066667,45.56,6.483333,733.6,92.0,6.666667,59.166667,5.2,18.606195,18.606195
2,2016-01-11 17:20:00,50,30,19.89,46.300000,19.2,44.626667,19.79,44.933333,18.926667,...,17.000000,45.50,6.366667,733.7,92.0,6.333333,55.333333,5.1,28.642668,28.642668
3,2016-01-11 17:30:00,50,40,19.89,46.066667,19.2,44.590000,19.79,45.000000,18.890000,...,17.000000,45.40,6.250000,733.8,92.0,6.000000,51.500000,5.0,45.410389,45.410389

In [340]:
df.columns

Index(['date', 'Appliances', 'lights', 'T1', 'RH_1', 'T2', 'RH_2', 'T3',
       'RH_3', 'T4', 'RH_4', 'T5', 'RH_5', 'T6', 'RH_6', 'T7', 'RH_7', 'T8',
       'RH_8', 'T9', 'RH_9', 'T_out', 'Press_mm_hg', 'RH_out', 'Windspeed',
       'Visibility', 'Tdewpoint', 'rv1', 'rv2'],
      dtype='object')

In [341]:
df.describe()

,Appliances,lights,T1,RH_1,T2,RH_2,T3,RH_3,T4,RH_4,...,T9,RH_9,T_out,Press_mm_hg,RH_out,Windspeed,Visibility,Tdewpoint,rv1,rv2
count,19735.000000,19735.000000,19735.000000,19735.000000,19735.000000,19735.000000,19735.000000,19735.000000,19735.000000,19735.000000,...,19735.000000,19735.000000,19735.000000,19735.000000,19735.000000,19735.000000,19735.000000,19735.000000,19735.000000,19735.000000
mean,97.694958,3.801875,21.686571,40.259739,20.341219,40.420420,22.267611,39.242500,20.855335,39.026904,...,19.485828,41.552401,7.411665,755.522602,79.750418,4.039752,38.330834,3.760707,24.988033,24.988033
std,102.524891,7.935988,1.606066,3.979299,2.192974,4.069813,2.006111,3.254576,2.042884,4.341321,...,2.014712,4.151497,5.317409,7.399441,14.901088,2.451221,11.794719,4.194648,14.496634,14.496634
min,10.000000,0.000000,16.790000,27.023333,16.100000,20.463333,17.200000,28.766667,15.100000,27.660000,...,14.890000,29.166667,-5.000000,729.300000,24.000000,0.000000,1.000000,-6.600000,0.005322,0.005322
25%,50.000000,0.000000,20.760000,37.333333,18.790000,37.900000,20.790000,36.900000,19.530000,35.530000,...,18.000000,38.500000,3.666667,750.933333,70.333333,2.000000,29.000000,0.900000,12.497889,12.497889
50%,60.000000,0.000000,21.600000,39.656667,20.000000,40.500000,22.100000,38.530000,20.666667,38.400000,...,19.390000,40.900000,6.916667,756.100000,83.666667,3.666667,40.000000,3.433333,24.897653,24.897653
75%,100.000000,0.000000,22.600000,43.066667,21.500000,43.260000,23.290000,41.760000,22.100000,42.156667,...,20.600000,44.338095,10.408333,760.933333,91.666667,5.500000,40.000000,6.566667,37.583769,37.583769
max,1080.000000,70.000000,26.260000,63.360000,29.856667,56.026667,29.236000,50.163333,26.200000,51.090000,...,24.500000,53.326667,26.100000,772.300000,100.000000,14.000000,66.000000,15.500000,49.996530,49.996530

In [342]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 19735 entries, 0 to 19734
Data columns (total 29 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   date         19735 non-null  object
 1   Appliances   19735 non-null  int64
 2   lights       19735 non-null  int64
 3   T1           19735 non-null  float64
 4   RH_1         19735 non-null  float64
 5   T2           19735 non-null  float64
 6   RH_2         19735 non-null  float64
 7   T3           19735 non-null  float64
 8   RH_3         19735 non-null  float64
 9   T4           19735 non-null  float64
 10  RH_4         19735 non-null  float64
 11  T5           19735 non-null  float64
 12  RH_5         19735 non-null  float64
 13  T6           19735 non-null  float64
 14  RH_6         19735 non-null  float64
 15  T7           19735 non-null  float64
 16  RH_7         19735 non-null  float64
 17  T8           19735 non-null  float64
 18  RH_8         19735 non-null  float64
 19  T9           19735 non-null  float64
 20  RH_9         19735 non-null  float64
 21  T_out        19735 non-null  float64
 22  Press_mm_hg  19735 non-null  float64
 23  RH_out       19735 non-null  float64
 24  Windspeed    19735 non-null  float64
 25  Visibility   19735 non-null  float64
 26  Tdewpoint    19735 non-null  float64
 27  rv1          19735 non-null  float64
 28  rv2          19735 non-null  float64
dtypes: float64(26), int64(2), object(1)
memory usage: 4.4+ MB

In [343]:
#To normalise our dataset to a common scale using the min max scaler
scaler = MinMaxScaler()
df = df.drop(columns= ['date','lights'])
df = pd.DataFrame(scaler.fit_transform(df), columns=df.columns)
df.head()

,Appliances,T1,RH_1,T2,RH_2,T3,RH_3,T4,RH_4,T5,...,T9,RH_9,T_out,Press_mm_hg,RH_out,Windspeed,Visibility,Tdewpoint,rv1,rv2
0,0.046729,0.32735,0.566187,0.225345,0.684038,0.215188,0.746066,0.351351,0.764262,0.175506,...,0.223032,0.677290,0.372990,0.097674,0.894737,0.500000,0.953846,0.538462,0.265449,0.265449
1,0.046729,0.32735,0.541326,0.225345,0.682140,0.215188,0.748871,0.351351,0.782437,0.175506,...,0.226500,0.678532,0.369239,0.100000,0.894737,0.476190,0.894872,0.533937,0.372083,0.372083
2,0.037383,0.32735,0.530502,0.225345,0.679445,0.215188,0.755569,0.344745,0.778062,0.175506,...,0.219563,0.676049,0.365488,0.102326,0.894737,0.452381,0.835897,0.529412,0.572848,0.572848
3,0.037383,0.32735,0.524080,0.225345,0.678414,0.215188,0.758685,0.341441,0.770949,0.175506,...,0.219563,0.671909,0.361736,0.104651,0.894737,0.428571,0.776923,0.524887,0.908261,0.908261
4,0.046729,0.32735,0.531419,0.225345,0.676727,0.215188,0.758685,0.341441,0.762697,0.178691,...,0.219563,0.671909,0.357985,0.106977,0.894737,0.404762,0.717949,0.520362,0.201611,0.201611

In [344]:
input_col = df.drop(columns=['Appliances'])
target_col = df['Appliances']

In [345]:
# spliting the dataset into the training and testing dataset. 
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test = train_test_split(input_col, target_col, test_size=0.3, random_state=42)

In [346]:
print('x_train :', x_train.shape)
print('y_train :', y_train.shape)
print('x_test :', x_test.shape)
print('y_test :', y_test.shape)

x_train : (13814, 26)
y_train : (13814,)
x_test : (5921, 26)
y_test : (5921,)

In [347]:
#to train the linear regression model we use the LinearRegression from the Scikit-Learn

In [348]:
from sklearn.linear_model import LinearRegression

In [349]:
model = LinearRegression()

In [350]:
model_fit = model.fit(x_train, y_train)

In [351]:
print(model.coef_.tolist())

[-0.00328105119434543, 0.5536721360822222, -0.2361994228666891, -0.4567671590295275, 0.29070415499101576, 0.09595330052386784, 0.02896917802396329, 0.026347297248292795, -0.015669604768752943, 0.01601548737579066, 0.23648155782110744, 0.03808434488952146, 0.01027363098753825, -0.04455265688550079, 0.10201644830640738, -0.1576020026716391, -0.1899313696323077, -0.039809318911027125, -0.32195523538333043, 0.006853755073361507, -0.07768452229508559, 0.0291943332553507, 0.012286717282090513, 0.11780096099327929, 221938185361.58197, -221938185361.58084]

In [352]:
model.intercept_

0.1531249489865814

In [353]:
# Making predictions and Evaluating the Model

In [354]:
train_preds =  model.predict(x_test)
train_preds

array([0.03321074, 0.24415374, 0.03418914, ..., 0.06831455, 0.10027558,
       0.05735102])

**Q13**
What is the Mean Absolute Error (in two decimal places)?

In [355]:
#MAE Mean Absolute error
from sklearn.metrics import mean_absolute_error
MAE = mean_absolute_error(y_test, train_preds)
round(MAE, 3)

0.05

In [356]:
# The model has a low MAE which is good

**Q14**
What is the Residual Sum of Squares (in two decimal places)?

In [357]:
#Function to define Residual sum of squares
import numpy as np
rss = np.sum(np.square(y_test - train_preds))
round(rss, 3)

45.343

**Q15**
What is the Root Mean Squared Error (in three decimal places)?

In [358]:
#Root mean square error
from sklearn.metrics import  mean_squared_error
rmse = mean_squared_error
error = np.sqrt(rmse(y_test, train_preds))
round(error, 3)

0.088

**Q16**
What is the Coefficient of Determination (in two decimal places)?

In [359]:
#Root squared score
from sklearn.metrics import r2_score
r2_score = r2_score(y_test, train_preds)
round(r2_score, 2)

0.15

# **Q17**
## Obtain the feature weights from your linear model above. Which features have the lowest and highest weights respectively?

In [373]:
def get_weights(mod,feat,col):
    weights=pd.Series(mod.coef_, feat.columns).sort_values()
    weights_df = pd.DataFrame(weights).reset_index()
    weights_df.columns=['Features', col]
    weights_df[col].round(3)
    return weights_df

linear=get_weights(model,x_train,'Linear_model')

In [375]:
linear

       Features  Linear_model
0           rv2 -2.219382e+11
1          RH_2 -4.567672e-01
2         T_out -3.219552e-01
3            T2 -2.361994e-01
4            T9 -1.899314e-01
5          RH_8 -1.576020e-01
6        RH_out -7.768452e-02
7          RH_7 -4.455266e-02
8          RH_9 -3.980932e-02
9            T5 -1.566960e-02
10           T1 -3.281051e-03
11  Press_mm_hg  6.853755e-03
12           T7  1.027363e-02
13   Visibility  1.228672e-02
14         RH_5  1.601549e-02
15         RH_4  2.634730e-02
16           T4  2.896918e-02
17    Windspeed  2.919433e-02
18         RH_6  3.808434e-02
19         RH_3  9.595330e-02
20           T8  1.020164e-01
21    Tdewpoint  1.178010e-01
22           T6  2.364816e-01
23           T3  2.907042e-01
24         RH_1  5.536721e-01
25          rv1  2.219382e+11

# **Q12** 
## From the dataset, fit a linear model on the relationship between the temperature in the living room in Celsius (x = T2) and the temperature outside the building (y = T6). What is the R^2 value in two D.P?

In [362]:
fy=pd.DataFrame(df['T6'])
fx=pd.DataFrame(df['T2'])
from sklearn.linear_model import LinearRegression
linear_model = LinearRegression()
linear_model.fit(fx,fy)
#l.coef_
linear_model.coef_

array([[0.89097447]])

In [378]:
train_pred =  linear_model.predict(fx)

In [382]:
#Root squared score
from sklearn.metrics import r2_score
r2_score = r2_score(fy, train_pred)
round(r2_score, 2)

0.64

**Q18**
Train a ridge regression model with an alpha value of 0.4. Is there any change to the root mean squared error (RMSE) when evaluated on the test set?

In [363]:
from sklearn.linear_model import Ridge
ridge_reg = Ridge(alpha=0.4)
ridge_reg.fit(x_train,y_train)

Ridge(alpha=0.4)

In [364]:
train_pred_Ridge =  ridge_reg.predict(x_test)

In [365]:
from sklearn.metrics import  mean_squared_error
rmse = mean_squared_error
error = np.sqrt(rmse(y_test, train_pred_Ridge))
round(error, 3)

0.088

**Q19**
Train a lasso regression model with an alpha value of 0.001 and obtain the new feature weights with it. How many of the features have non-zero feature weights?

In [366]:
from sklearn.linear_model import Lasso
lasso_reg = Lasso(alpha=0.001)
lasso_reg.fit(x_train, y_train)

Lasso(alpha=0.001)

In [367]:
lasso_weights_df = get_weights(lasso_reg, x_train, 'Lasso_weight')
lasso_weights_df[lasso_weights_df['Lasso_weight'] != 0]

     Features  Lasso_weight
0      RH_out     -0.049557
1        RH_8     -0.000110
24  Windspeed      0.002912
25       RH_1      0.017880

**Q20**
What is the new RMSE with the Lasso Regression (in 3 decimal places)?

In [368]:
train_pred_lasso =  lasso_reg.predict(x_test)

In [369]:
rmse = mean_squared_error
error = np.sqrt(rmse(y_test, train_pred_lasso))
round(error, 3)

0.094